# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environnement virtuel
venv/
env/

# Variables d'environnement
.env

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
